AUTH_SECRET="" # Added by `npx auth secret`. Read more: https://cli.authjs.dev
AUTH_TRUST_HOST=true # Trust localhost for development
HMAC_SECRET_KEY='' # create this by running `openssl rand -base64 32`
AUTH_URL='' # For testing this should be your NGROK URL and for production this should be your production URL
NEXT_PUBLIC_APP_ID='app_1234567890' # APP ID from the developer portal
WLD_CLIENT_ID='app_1234567890' # Same as NEXT_PUBLIC_APP_ID
DEV_PORTAL_API_KEY='' # API Key from developer.worldcoin.org for payment verification